$main-color: #5e6b89;
$main-color-light: #7a8ab3;
$main-color-dark: #4a5472;

$secondary-color: #f2f2f2;
$secondary-color-light: #ffffff;
$secondary-color-dark: #e6e6e6;

$tertiary-color: #0ad3ac;
$tertiary-color-light: #0bf4c5;
$tertiary-color-dark: #09c39e;

$quaternary-color: #ffa366;
$quaternary-color-light: #ffbb80;
$quaternary-color-dark: #ff9933;

$text-main-color: #333;
$text-main-color-light: #666;
$text-main-color-dark: #000;
